@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/** Font Styling **/
p {
  font-family: "Poppins", sans-serif !important;
  font-size: 20px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.60);
}

h1{
  font-family: "Poppins", sans-serif !important;
  font-size: 50px !important;
  font-weight: bold;
}

h2{
    color: rgba(0, 0, 0, 0.60) !important;
}

h3{
  font-family: "Crimson Text", sans-serif !important;
  font-size: 18px !important;
}

ol {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.60) !important;
}
/** Font Styling **/


/** Homepage **/
#home-graphic{
    background-image: url(./img/spotify-graphic.png), no-repeat;
    /* background-size: cover; */
    height:752px; 
    width: 100%;
    justify-content: center;
}

.welcome-text{
    padding: 40px;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
   
  height: 752px;
}
  
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
.row{
  justify-content: center !important;
  width: 100% !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

  

.btn {
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background: #060606;
  display: flex;
  width: 185px;
  height: 96.357px;
  padding: 30px;  
  color: rgba(251, 252, 253, 0.94);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
}

.btn:hover{
  color: rgba(251, 252, 253, 0.94) !important;
}

#btn-center{
  justify-content: center;
  align-items: center;
  display: flex;
}

#background-graphic{
  height:205px; 
  width: 172px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  overflow: hidden;
  top: 620px;
}

/** Homepage **/
#break{
  height: 0px;
  width: 100%;
}

.btn > #arrow {
  width: 8px;
  height: 8px;
  border-right: 2px solid rgba(251, 252, 253, 0.94);
  border-bottom: 2px solid rgba(251, 252, 253, 0.94);
  position: relative;
  transform: rotate(-45deg);
  margin: 0 6px;
  transition: all .3s ease;
}
  
.btn > #arrow::before {
  display: block;
  background-color: currentColor;
  width: 3px;
  transform-origin: bottom right;
  height: 2px;
  position: absolute;
  opacity: 0;
  bottom: calc(-2px / 2);
  transform: rotate(45deg);
  transition: all .3s ease;
  content: "";
  right: 0;
}
  
.btn:hover > #arrow {
  transform: rotate(-45deg) translate(5px, 5px);
  border-color: text-hover-color;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1280px) {
  .column {
    width: 100%;
    height: 300px;
  }
  #home-graphic{
      background-image: url(./img/spotify-graphic.png), no-repeat;
      /* background-size: cover; */
      height:280px; 
      width: 100%;
      justify-content: center;
  }
  .row{
    height: 1100px;
  }
}
  
/* for mobile view -> we use min-width to convert to desktop view EX: 780px*/


/** Footer **/


.footer{
    background-color: #060606;
    padding:30px 0px;
    text-align:center;
    height:200px;
}
  
/* Clear floats after the columns */
.f-row:after {
  content: "";
  display: table;
  clear: both;
}
  
.footer .f-row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:rgba(251, 252, 253, 0.94);
  font-size:20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Poppins;
}
    
.footer .f-row a{
  text-decoration:none;
  color:rgba(251, 252, 253, 0.94);
  transition: all 0.3s ease 0s;
}

.footer .f-row a:hover{
  color: #87a8e6 !important;;
}
    
.footer .f-row ul{
  width:100%;
}
    
.footer .f-row ul li{
  display:inline-block;
  margin:0px 30px;
}

.footer .f-row a i{
  font-size:32px;
  margin:0% 1%;
}

@media (max-width:1200px){
  #background-graphic{
    top: 900px;
  }
}

    
@media (max-width:720px){
  #break{
    height: 100px;
    width: 100%;
  }

  .footer{
    text-align:left;
    padding:5%;
    height: 230px;
  }
  .footer .f-row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
  }
  .footer .f-row a i{
    margin:0% 3%;
  }
  
  #slogan h1{
    font-size: 30px;
  }

  #background-graphic{
    top: 1100px;
  }
}
/** Footer **/
