<!DOCTYPE html>
<html>
<head>
<title>Spotify Persona</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="script/nav.js" defer></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!-- Page content -->

  <!-- About Section -->
  <div id="about" class="row">
    <div class="column">
      <img id="home-graphic" src="/static/img/spotify-graphic.png" />
    </div>
    <div class="column">
      <div class="welcome-text"> 
        <h1>Welcome to the Spotify Persona Builder!</h1><br>
        <h2> 🚀 Get Started in 3 Simple Steps:</h2>
        <br>
        <ol>
            <li>
                <p> Sign Up: Join our community of music enthusiasts by creating your account. 
                  It's quick, easy, and unlocks a world of personalized possibilities.</p>
            </li>
            <br>
            <li>
                <p> Connect Spotify: Link your Spotify account securely to access your entire 
                  library and create personalized playlists effortlessly.</p>
            </li>
            <br>
            <li>
                <p> Start Building: We’ll give you a unique cover art that resonates with your 
                  unique personality based on your top tracks!</p>
            </li>
            <br>
        </ol>
        <div id="btn-center">
          <button type="button" class="btn" onclick="location.href='/login'">Get Started   
            <i id= "arrow" class="fa fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="image-overflow"> 
    <img id="background-graphic" src="/static/img/background-square.png" />
  </div>

  <div id="break">

  </div>

<!-- End page content -->
<footer>
  <div class="footer">
  <div class="f-row">
      Team of 4 Developers working on SacHacks to create a Spotify Personality Visualizer
      </br>By: Andrew, Kelly, Ryan, William
  </div>
  <div class="f-row">
    <a href="#"><i class="fa fa-github"></i></a>
    </div>
  </div>
  </footer>
</div>

</body>
</html>